// ==========================================================================
// ? Colors
// Ex.: color: $white;
// * If you want to use more colors tonality, use $blue-100, $blue-200, etc.:
// ==========================================================================
$white: #fff;
$black: #000;
$transparent: transparent;
